
.hamburger-menu {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2000; 
}

.hamburger-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #2596be;
}

.menu {
    position: absolute;
    top: 40px;
    left: 0;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 200px;
}

.profile h2 {
    font-size: 18px;
    margin: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.logout-btn {
    background: #2596be;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
