
.recommendation-section {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.recommendation-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
}

.university-card {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.university-card h3 {
    font-size: 24px;
    color: #2596be;
}

.apply-button {
    background-color: #2596be;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #1a6d8c;
}
